<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <dx-data-grid 
            id="gridContainer" 
            [dataSource]="dataSource" 
            [showBorders]="true" 
            [columnAutoWidth]="true">
            <dxi-column 
              dataField="nama" 
              caption="Nama Klien">
            </dxi-column>
            <dxi-column 
              dataField="telepon" 
              caption="Telepon">
            </dxi-column>
            <dxi-column 
              dataField="layanan" 
              caption="Layanan" 
              [groupIndex]="0">
            </dxi-column>
            <dxi-column 
              dataField="deskripsi" 
              caption="Deskripsi">
            </dxi-column>
            <dxi-column 
              dataField="nomorAkta" 
              caption="No Akta">
            </dxi-column>
            <dxi-column 
              dataField="nomorBerkas" 
              caption="No Berkas">
            </dxi-column>
            <dxi-column 
              dataField="date" 
              caption="Tanggal Order">
            </dxi-column>
            <dxi-column 
              dataField="biaya" 
              caption="Biaya" 
              format="{{format}}">
            </dxi-column>

            <dxo-group-panel 
              [visible]="true">
            </dxo-group-panel>
            <dxo-grouping 
              #expand [autoExpandAll]="true">
            </dxo-grouping>

            <dxo-summary>
              <dxi-total-item 
                column="nama" 
                summaryType="count" 
                displayFormat="Jumlah Data: {0}">
              </dxi-total-item>
            </dxo-summary>
          </dx-data-grid>
        </div>
      </div>
    </div> <!--/.col-->
  </div><!--/.row-->
</div>